<a href="https://colab.research.google.com/github/Binaaa04/dataMining/blob/main/data_mining_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#how to data capture using pandas for CSV files
import pandas as pd
# to read local CSV
data	= pd.read_csv('/content/data_nasabah .csv',delimiter=',')
# display head 5 data
print(data.head(5))

   ID_Nasabah  Usia_Nasabah Jenis_Kelamin  Jumlah_Tanggungan  \
0   717574683          53.0     Perempuan                  3
1   769662033          45.0     Perempuan                  2
2   719377383          40.0     Laki-Laki                  2
3   820657083          53.0     Laki-Laki                  4
4   709836258          45.0     Perempuan                  4

  Tingkat_Pendidikan Status_Pernikahan  Pendapatan Kategori_Kartu  \
0                NaN           Menikah     44280.0           Biru
1             Kuliah               NaN      9982.0           Biru
2             Kuliah     Belum Menikah     64988.0           Biru
3             Kuliah     Belum Menikah    117549.0          Perak
4            Sarjana           Menikah     21579.0           Biru

   Lama_Menjadi_Nasabah  Jumlah_Layanan  Limit_Kredit  Saldo_Revolting_Total  \
0                    46               6        2192.0                   1146
1                    29               2        1438.3                      0
2                    28               1       10880.0                   2025
3                    48               5       34516.0                    800
4                    41               5        1927.0                   1337

   Total_Transaksi  Jumlah_Melakukan_Transaksi  Rasio_Penggunaan_Rata-rata
0             4756                          85                       0.523
1             5025                          85                       0.000
2             4957                          90                       0.186
3             3819                          72                       0.023
4             5127                          81                       0.694

In [ ]:
import os
print(os.listdir('/content/'))

['.config', 'drive', 'data_nasabah .csv', 'sample_data']

In [ ]:
#install the library
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.13.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (4.12.2)

In [ ]:
# how to data collect using BeautifulSoup for Web Scraping
import pandas as pd
import requests
from bs4 import BeautifulSoup
# The URL you want to scrape
url = 'https://www.kompas.com/'
# Sending a GET request to a URL
response = requests.get(url)
# Check if the request was successful
if response.status_code == 200:
# Create BeautifulSoup objects from HTML content
  soup = BeautifulSoup(response.content, 'html.parser')
# Search for all headlines (for example, with the tag <h3 class=“most title”>)
  berita_utama = soup.find_all('h3',class_='most title')
# Menyimpan judul berita ke dalam list
  judul_berita = []
  for berita in berita_utama:
    judul_berita.append(berita.text.strip())
# Create a pandas DataFrame from a list of news headlines
    df_berita = pd.DataFrame({'JudulBerita':judul_berita})
# Menampilkan DataFrame
    print(df_berita)
else:
  print (f'Gagal mengakses URL. Kode status : {response.status_code}')

In [8]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import pytz

#URL yg ingin di scrape
url = 'https://www.cnnindonesia.com/nasional/20250221141423-20-1200978/massa-penuhi-patung-kuda-aksi-puncak-indonesia-gelap-dimulai'

# Mengirim permintaan GET ke URL
response = requests.get(url)

# Memeriksa apakah permintaan berhasil
if response.status_code == 200:
# Membuat objek BeautifulSoup dari konten HTML
  soup	=	BeautifulSoup(response.content, 'html.parser')

# Mengambil judul artikel
  content_title = soup.find('h1').text
# Menyimpan judul

  content_published_date	=soup.find('meta', property='article:published_time')

  if content_published_date:
# Mengambil konten dan mengonversi ke objek datetime

    utc_time = datetime.fromisoformat(content_published_date['content'].replace('Z', '+00:00'))

# mengonversi ke zona waktu WIB
    wib_time = utc_time.astimezone(pytz.timezone('Asia/Jakarta'))

    published_date = wib_time.strftime('%d-%m-%Y %H:%M WIB')
  else:
    published_date = 'publication date wasnt found'

  #put tag
  content_tags = soup.find('meta', {'name':'keywords'})
  if content_tags:
      tags = content_tags['content']
  else:
      tags = 'tag didnt found'

# Menampilkan judul artikel dan tanggal publikasi
  print(f'Article title: {content_title}')
  print(f'Publication date : {published_date}')
  print(f'Tag: {tags}')

else:
        print(f'failed to access this URL. Status code : {response.status_code}')

Article title:  Massa Penuhi Patung Kuda: Aksi Puncak Indonesia Gelap Dimulai
Publication date : publication date wasnt found
Tag: ruu perampasan, ikn, perampasan, uu tni, adili jokowi, fokus puncak aksi indonesia gelap, nusantara, polri, tim, apbn, patung kuda, jakarta pusat, ruu, bergizi gratis, tatib dpr, kejaksaan, uu polri, massa aksi indonesia gelap, dpr, penghapusan, pemerintah, klaster, ruu perlindungan pekerja rumah tangga, uu minerba, massa aksi, aksi puncak indonesia gelap, pembatalan, aksi indonesia gelap, tni, inpres nomor 1 tahun 2025, ruu perampasan aset, proyek strategis nasional, psn, taman ismail marzuki, puncak aksi, ratusan massa aksi indonesia gelap, indonesia gelap, aksi demo indonesia gelap, tuntutan demo indonesia gelap, jokowi, joko widodo, demo indonesia gelap, demo

In [4]:
#how to data capture using pandas for CSV files
import pandas as pd
# to read local CSV
data	= pd.read_csv('/content/drive/MyDrive/house_prices.csv')
# display head 5 data
print(data.head(5))

   Index                                              Title  \
0      0  1 BHK Ready to Occupy Flat for sale in Srushti...
1      1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2      2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3      3        1 BHK Ready to Occupy Flat for sale Kasheli
4      4  2 BHK Ready to Occupy Flat for sale in TenX Ha...

                                         Description Amount(in rupees)  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1  One can find this stunning 2 BHK flat for sale...           98 Lac
2  Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3  This beautiful 1 BHK Flat is available for sal...           25 Lac
4  This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr

   Price (in rupees) location Carpet Area         Status         Floor  \
0             6000.0    thane    500 sqft  Ready to Move  10 out of 11
1            13799.0    thane    473 sqft  Ready to Move   3 out of 22
2            17500.0    thane    779 sqft  Ready to Move  10 out of 29
3                NaN    thane    530 sqft  Ready to Move    1 out of 3
4            18824.0    thane    635 sqft  Ready to Move  20 out of 42

  Transaction  ... facing             overlooking  \
0      Resale  ...    NaN                     NaN
1      Resale  ...   East             Garden/Park
2      Resale  ...   East             Garden/Park
3      Resale  ...    NaN                     NaN
4      Resale  ...   West  Garden/Park, Main Road

                               Society Bathroom Balcony Car Parking  \
0  Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                          Dosti Vihar        2     NaN      1 Open
2                 Sunrise by Kalpataru        2     NaN   1 Covered
3                                  NaN        1       1         NaN
4          TenX Habitat Raymond Realty        2     NaN   1 Covered

              Ownership Super Area Dimensions  Plot Area
0                   NaN        NaN        NaN        NaN
1              Freehold        NaN        NaN        NaN
2              Freehold        NaN        NaN        NaN
3                   NaN        NaN        NaN        NaN
4  Co-operative Society        NaN        NaN        NaN

[5 rows x 21 columns]

In [9]:
#how to data capture using gdrive for CSV files
import pandas as pd
# to read local CSV
data	= pd.read_csv('/content/drive/MyDrive/data_nasabah .csv')
# display head 5 data
print(data.head(5))

   ID_Nasabah  Usia_Nasabah Jenis_Kelamin  Jumlah_Tanggungan  \
0   717574683          53.0     Perempuan                  3
1   769662033          45.0     Perempuan                  2
2   719377383          40.0     Laki-Laki                  2
3   820657083          53.0     Laki-Laki                  4
4   709836258          45.0     Perempuan                  4

  Tingkat_Pendidikan Status_Pernikahan  Pendapatan Kategori_Kartu  \
0                NaN           Menikah     44280.0           Biru
1             Kuliah               NaN      9982.0           Biru
2             Kuliah     Belum Menikah     64988.0           Biru
3             Kuliah     Belum Menikah    117549.0          Perak
4            Sarjana           Menikah     21579.0           Biru

   Lama_Menjadi_Nasabah  Jumlah_Layanan  Limit_Kredit  Saldo_Revolting_Total  \
0                    46               6        2192.0                   1146
1                    29               2        1438.3                      0
2                    28               1       10880.0                   2025
3                    48               5       34516.0                    800
4                    41               5        1927.0                   1337

   Total_Transaksi  Jumlah_Melakukan_Transaksi  Rasio_Penggunaan_Rata-rata
0             4756                          85                       0.523
1             5025                          85                       0.000
2             4957                          90                       0.186
3             3819                          72                       0.023
4             5127                          81                       0.694

In [5]:
# PRACTICUM TASK
import pandas as pd
# to read local CSV
data	= pd.read_csv('/content/laptop_prices.csv',delimiter=',')
# display head 5 data
print(data.head())

    Brand    Processor  RAM (GB)    Storage                 GPU  \
0   Apple  AMD Ryzen 3        64  512GB SSD     Nvidia GTX 1650
1   Razer  AMD Ryzen 7         4    1TB SSD     Nvidia RTX 3080
2    Asus     Intel i5        32    2TB SSD     Nvidia RTX 3060
3  Lenovo     Intel i5         4  256GB SSD     Nvidia RTX 3080
4   Razer     Intel i3         4  256GB SSD  AMD Radeon RX 6600

   Screen Size (inch) Resolution  Battery Life (hours)  Weight (kg)  \
0                17.3  2560x1440                   8.9         1.42
1                14.0   1366x768                   9.4         2.57
2                13.3  3840x2160                   8.5         1.74
3                13.3   1366x768                  10.5         3.10
4                16.0  3840x2160                   5.7         3.38

  Operating System  Price ($)
0          FreeDOS    3997.07
1            Linux    1355.78
2          FreeDOS    2673.07
3          Windows     751.17
4            Linux    2059.83

In [6]:
import pandas as pd
# to read local CSV
data  = pd.read_csv('/content/drive/MyDrive/laptop_prices.csv')
# display head 5 data
print(data.head(5))

    Brand    Processor  RAM (GB)    Storage                 GPU  \
0   Apple  AMD Ryzen 3        64  512GB SSD     Nvidia GTX 1650
1   Razer  AMD Ryzen 7         4    1TB SSD     Nvidia RTX 3080
2    Asus     Intel i5        32    2TB SSD     Nvidia RTX 3060
3  Lenovo     Intel i5         4  256GB SSD     Nvidia RTX 3080
4   Razer     Intel i3         4  256GB SSD  AMD Radeon RX 6600

   Screen Size (inch) Resolution  Battery Life (hours)  Weight (kg)  \
0                17.3  2560x1440                   8.9         1.42
1                14.0   1366x768                   9.4         2.57
2                13.3  3840x2160                   8.5         1.74
3                13.3   1366x768                  10.5         3.10
4                16.0  3840x2160                   5.7         3.38

  Operating System  Price ($)
0          FreeDOS    3997.07
1            Linux    1355.78
2          FreeDOS    2673.07
3          Windows     751.17
4            Linux    2059.83

In [42]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import pytz

#URL yg ingin di scrape
url = 'https://news.detik.com/berita/d-7791640/skema-baru-kartu-berlangganan-whoosh-harga-hingga-masa-berlaku-60-hari'

# Mengirim permintaan GET ke URL
response = requests.get(url)

# Memeriksa apakah permintaan berhasil
if response.status_code == 200:
# Membuat objek BeautifulSoup dari konten HTML
  soup	=	BeautifulSoup(response.content, 'html.parser')

# Mengambil judul artikel
  content_title = soup.find('h1').text
# Menyimpan judul

  content_published_date	=soup.find('meta', property='article:published_time')

  if content_published_date:
# Mengambil konten dan mengonversi ke objek datetime

    utc_time = datetime.fromisoformat(content_published_date['content'].replace('Z', '+00:00'))

# mengonversi ke zona waktu WIB
    wib_time = utc_time.astimezone(pytz.timezone('Asia/Jakarta'))

    published_date = wib_time.strftime('%d-%m-%Y %H:%M WIB')
  else:
    published_date = 'publication date wasnt found'

  #put tag
  content_tags = soup.find('meta', {'name':'keywords'})
  if content_tags:
      tags = content_tags['content']
  else:
      tags = 'tag didnt found'

# Menampilkan judul artikel dan tanggal publikasi
  print(f'Article title: {content_title}')
  print(f'Publication date : {published_date}')
  print(f'Tag: {tags}')

else:
        print(f'failed to access this URL. Status code : {response.status_code}')

Article title:
        Skema Baru Kartu Berlangganan Whoosh: Harga hingga Masa Berlaku 60 Hari
Publication date : publication date wasnt found
Tag: frequent whoosher card,frequent whoosher card baru,whoosh,kereta cepat whoosh